/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li a,
nav li a:visited {
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
nav li a:hover,
li:hover {
  color: #b1663c;
  cursor: pointer;
}
nav li a img {
  height: 100%;
}
#active-page {
  font-family: "Work Sans";
  font-weight: 700;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#title-container {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}
#portfolio h2 {
  display: inline-block;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
  max-width: 100%;
}
.filter-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  max-width: 100%;
  font-weight: 700;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 8px 16px;
  transition: 200ms ease;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #1d6154;
  color: #fff;
  outline: none;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"] {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  font-size: 0.9rem;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer {
  width: 100%;
  background: #fff;
}
footer nav ul {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin: 2em 0; */
}
footer nav ul li {
  font-size: 0.9rem;
  font-weight: 300;
}

/* Styles spécifiques pour le mode edition */
.edit-mode-banner {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}
.icon {
  margin-right: 0.5rem;
}
.edit-btn {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 120px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  animation: fadeIn 600ms ease-out both;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 630px;
  overflow-y: scroll;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: slideFromBottom 800ms ease-out both 200ms;
  transform-origin: center bottom;
}
.nav-modal {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.back-to-gallery {
  cursor: pointer;
  position: absolute;
  left: 0;
  background: none;
  border: none;
  padding: 0;
}
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0;
}
.modal-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.titlemodal {
  margin-bottom: 40px;
  font-family: "work sans";
  font-size: 26px;
  font-weight: 400;
  color: #000;
}
.modal-gallery {
  position: relative;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.modal-gallery figure {
  position: relative;
}
.modal-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.delete-project-btn {
  position: absolute;
  top: 3px;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
}
.delete-project i {
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 3px 1px;
  color: #fff;
  background-color: #000000;
}
#modal-gallery-page .separator-line {
  width: 70%;
}
.separator-line {
  margin: 50px 0;
  height: 1px;
  width: 100%;
  background: #b3b3b3;
}
.add-project {
  font-family: "Syne";
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
  background-color: #1d6154;
  margin: 0 auto;
  text-align: center;
  border-radius: 60px;
  padding: 10px 50px;
  cursor: pointer;
  text-decoration: none;
}
#modal-add-project-page h2 {
  margin-bottom: 0;
}
#add-project-form {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 70%;
}
#drop-container {
  position: relative;
  height: 169px;
  background: #e8f1f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444444;
  font-size: 0.6rem;
  font-weight: 400;
  transition: 100ms ease;
}
#drop-container.drag-active {
  background: #d2e1e9;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.drop-container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.photo-icon {
  font-size: 4.5rem;
  color: #b9c5cc;
}
.add-photo-btn {
  cursor: pointer;
  background: #cbd6dc;
  color: #306685;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work sans";
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5em 2em;
  border-radius: 60px;
  border: none;
  transition: 100ms ease;
}
.add-photo-btn:hover {
  color: #cbd6dc;
  background: #4983a5;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}
#add-photo {
  display: none;
}
.photo-preview {
  position: absolute;
  display: none;
  height: 100%;
}
#add-project-form label {
  margin: 2em 0 1em 0;
}
#title,
#category-selection {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#addBtn {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  font-size: 0.9rem;
  color: white;
  background-color: #1d6154;
  margin: 0 auto;
  padding: 0.5em;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  border: none;
}

#addBtn:disabled {
  cursor: default;
  background: #a7a7a7;
}
.modal-hidden {
  display: none;
}

.modal[aria-hidden="true"] {
  animation: fadeOut 600ms ease-in both;
}

.modal[aria-hidden="true"] .modal-wrapper {
  animation: slideToBottom 800ms ease-in both 100ms;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(30vh) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideToBottom {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(30vh) scale(0.95);
  }
}

/* Styles spécifiques pour la page login.html */
.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#login {
  width: 35%;
  margin: 20px auto;
  flex-grow: 1;
}
#login > * {
  text-align: center;
}
#login h2 {
  margin-bottom: 20px;
}
#login-message {
  font-size: 1rem;
  font-weight: 700;
}

#login form {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  transition: 200ms ease;
}
#login label {
  margin: 0.5em 0;
}

#login a,
#login a:visited {
  color: #000;
}
#login a:hover {
  color: #b1663c;
}

#login input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

#login-message {
  height: 20px;
}
#login input.error {
  border-color: rgba(244, 67, 54, 0.9);
  box-shadow: 0 0 8px rgba(244, 67, 54, 0.9);
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
